# Dependency directories
/node_modules
/tmp

# Distribution directories
/dist
/build

# Environment files
.env

# Editor/IDE specific files
.vscode/

# Compiled output
*.js
*.map

# Miscellaneous
.DS_Store
Thumbs.db
